<div class="modal fade" id="new_calendar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editCalendar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Edit
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="editCalendarBody">
      </div>
    </div>
  </div>
</div>
