// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variable';
.dashboard-menu{
  ul{
    li{
      a{
        color: rgba(255, 255, 255, 0.7);
        &:hover{
          color: #ffffff;
        }
        &.active{
          color: #ffffff;
        }
      }
    }
  }
}
.profile-card{
  img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }
}
.listing{
  .img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

